In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import csv

In [3]:
readIn = pd.read_csv("data/df_dummy_prepped-2-3.csv")
df = pd.DataFrame(readIn)

In [4]:
dummy_cols = []

with open('data/dummy_cols.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        dummy_cols=row

In [5]:
len(dummy_cols)

472

In [6]:
df.columns

Index(['CONTRACT_ID', 'BORROWER_ID', 'CONTRACT_CREDIT_LOSS',
       'CONTRACT_DATE_OF_LOAN_AGREEMENT', 'CONTRACT_DEPT_SERVICE_TO_INCOME',
       'CONTRACT_INCOME', 'CONTRACT_INSTALMENT_AMOUNT',
       'CONTRACT_INTEREST_RATE', 'CONTRACT_LGD', 'CONTRACT_LOAN_AMOUNT',
       ...
       'CONTRACT_TYPE_OF_INTEREST_REPAYMENT_100003.0',
       'CONTRACT_TYPE_OF_INTEREST_REPAYMENT_100004.0',
       'CONTRACT_TYPE_OF_INTEREST_REPAYMENT_110001.0',
       'CONTRACT_TYPE_OF_INTEREST_REPAYMENT_140001.0',
       'CONTRACT_TYPE_OF_INTEREST_REPAYMENT_140002.0',
       'CONTRACT_TYPE_OF_INTEREST_REPAYMENT_140003.0',
       'CONTRACT_CREDIT_INTERMEDIARY_0.0', 'CONTRACT_CREDIT_INTERMEDIARY_1.0',
       'CONTRACT_CREDIT_INTERMEDIARY_2.0',
       'CONTRACT_CREDIT_INTERMEDIARY_20001.0'],
      dtype='object', length=490)

In [7]:
df[dummy_cols]=df[dummy_cols].astype(int)

In [8]:
df.head(10)

,CONTRACT_ID,BORROWER_ID,CONTRACT_CREDIT_LOSS,CONTRACT_DATE_OF_LOAN_AGREEMENT,CONTRACT_DEPT_SERVICE_TO_INCOME,CONTRACT_INCOME,CONTRACT_INSTALMENT_AMOUNT,CONTRACT_INTEREST_RATE,CONTRACT_LGD,CONTRACT_LOAN_AMOUNT,...,CONTRACT_TYPE_OF_INTEREST_REPAYMENT_100003.0,CONTRACT_TYPE_OF_INTEREST_REPAYMENT_100004.0,CONTRACT_TYPE_OF_INTEREST_REPAYMENT_110001.0,CONTRACT_TYPE_OF_INTEREST_REPAYMENT_140001.0,CONTRACT_TYPE_OF_INTEREST_REPAYMENT_140002.0,CONTRACT_TYPE_OF_INTEREST_REPAYMENT_140003.0,CONTRACT_CREDIT_INTERMEDIARY_0.0,CONTRACT_CREDIT_INTERMEDIARY_1.0,CONTRACT_CREDIT_INTERMEDIARY_2.0,CONTRACT_CREDIT_INTERMEDIARY_20001.0
0,TpK8osXs,d8SqtuEV,0.0,28,0.00,0.0,9545.0,22.08,175424.0,192161,...,0,0,0,0,0,0,0,0,1,0
1,EtIEHrcH,lrdxML0g,0.0,12,0.00,0.0,9528.0,16.57,994868.0,55590,...,0,0,0,0,0,0,0,0,1,0
2,1G10DfKj,gII7nnq4,16350.0,19,7.05,127305.0,8899.0,22.35,282553.0,275924,...,1,0,0,0,0,0,0,0,1,0
3,2NLT774,MMkJ8z/e,0.0,14,0.00,0.0,14329.0,0.00,68981.0,138862,...,0,0,0,0,0,0,0,0,1,0
4,VpylRvay,M417onFP,2395.0,67,0.00,0.0,4003.0,23.92,163319.0,169624,...,0,0,0,0,0,0,0,0,1,0
5,5tsDwTjS,u9GRAuen,0.0,69,0.00,0.0,11214.0,35.12,74244.0,100079,...,0,0,0,0,0,0,0,0,1,0
6,drZAWXaR,XPWFcJZI,0.0,71,33.94,172647.0,10933.0,21.93,337632.0,338415,...,0,0,0,0,0,0,0,0,1,0
7,ebtK6u+,L2Nu2zZe,0.0,22,0.00,0.0,11405.0,16.28,118161.0,140975,...,0,0,0,0,0,0,0,0,1,0
8,ffJh4MY,5A0GWOi2,0.0,25,0.00,0.0,6045.0,16.27,42047.0,60963,...,0,0,0,0,0,0,0,0,1,0
9,eo09vYuo,lqPGd2+x,0.0,57,0.00,0.0,10431.0,21.66,170739.0,190782,...,0,0,0,0,0,0,0,0,1,0

# Data preparation

## Coloumns

In [9]:
def calculate_mode(x):
    return x.value_counts().idxmax()

In [10]:
def calc(x):
    return x.value_counts()[True]

In [11]:
# def datagen_modeA(origdf,startnap, endnap):
#     df2 = origdf[ origdf['CONTRACT_DATE_OF_LOAN_AGREEMENT']>=startnap].copy()
#     df = df2[ df2['CONTRACT_DATE_OF_LOAN_AGREEMENT']<endnap].copy()
    
#     cust_df = pd.DataFrame({'BORROWER_ID':df['BORROWER_ID'].unique()})
#     # TARGET VALTOZO KESZITES
#     feltetel=(df['TARGET_EVENT_DAY']>endnap) & (df['TARGET_EVENT_DAY']<endnap+2*365) & (df['TARGET_EVENT']=='K') 
#     df['target']=0
#     df.loc[feltetel,'target']=1
    
#     stat = df.groupby("BORROWER_ID",as_index=False).agg({'target':'max'})
#     cust_df=cust_df.merge(stat,on='BORROWER_ID',how='left')
#     cust_df['target']=cust_df['target'].fillna(0)  
    

#     stat = df.groupby("BORROWER_ID",as_index=False).agg(
#         {   'CONTRACT_ID':'count',
#             'CONTRACT_CREDIT_LOSS': 'sum',
#             'CONTRACT_DEPT_SERVICE_TO_INCOME': 'mean',
#             'CONTRACT_INCOME': 'sum',
#             'CONTRACT_INSTALMENT_AMOUNT': 'mean',
#             'CONTRACT_INTEREST_RATE': 'mean',
#             'CONTRACT_LGD': 'sum',
#             'CONTRACT_LOAN_AMOUNT': 'sum',
#             'CONTRACT_LOAN_TO_VALUE_RATIO': 'mean',
#             'CONTRACT_MARKET_VALUE': 'sum',
#             'CONTRACT_MORTGAGE_LENDING_VALUE': 'sum'
#         }
#     )
#     stat.columns=[  'BORROWER_ID',
#                     'CONTRACT_ID_SUM',
#                     'CONTRACT_CREDIT_LOSS_SUM',
#                     'CONTRACT_DEPT_SERVICE_TO_INCOME_MEAN',
#                     'CONTRACT_INCOME_SUM',
#                     'CONTRACT_INSTALMENT_AMOUNT_MEAN',
#                     'CONTRACT_INTEREST_RATE_MEAN',
#                     'CONTRACT_LGD_SUM',
#                     'CONTRACT_LOAN_AMOUNT_SUM',
#                     'CONTRACT_LOAN_TO_VALUE_RATIO_MEAN',
#                     'CONTRACT_MARKET_VALUE_SUM',
#                     'CONTRACT_MORTGAGE_LENDING_VALUE_SUM'
#                  ]
#     cust_df=cust_df.merge(stat,on='BORROWER_ID',how='left')
#     return cust_df

# R1 = datagen_modeA(df,0,365)
# R2 = datagen_modeA(df,365*2,365*3)

In [12]:
df['CONTRACT_DATE_OF_LOAN_AGREEMENT'].max()

1094

In [13]:
def datagen(df, dummy_cols, startnap, endnap):

    df2 = df[ df['CONTRACT_DATE_OF_LOAN_AGREEMENT']>=startnap].copy()
    df = df2[ df2['CONTRACT_DATE_OF_LOAN_AGREEMENT']<endnap].copy()

    cust_df = pd.DataFrame({'BORROWER_ID':df['BORROWER_ID'].unique()})
# TARGET VALTOZO KESZITES
    feltetel=((df['TARGET_EVENT_DAY']>endnap) & (df['TARGET_EVENT_DAY']<endnap+2*365) & (df['TARGET_EVENT']=='K')  )
    df['target']=0
    df.loc[feltetel,'target']=1
    
    stat = df.groupby("BORROWER_ID",as_index=False).agg({'target':'max'})
    cust_df=cust_df.merge(stat,on='BORROWER_ID',how='left')
    cust_df['target']=cust_df['target'].fillna(0)  

    custom_aggregations = {col: 'sum' for col in dummy_cols}
    

    stat = df.groupby("BORROWER_ID",as_index=False).agg(
    {   'CONTRACT_ID':'count',
        'CONTRACT_CREDIT_LOSS': 'sum',
        'CONTRACT_DEPT_SERVICE_TO_INCOME': 'mean',
        'CONTRACT_INCOME': 'sum',
        'CONTRACT_INSTALMENT_AMOUNT': 'mean',
        'CONTRACT_INTEREST_RATE': 'mean',
        'CONTRACT_LGD': 'sum',
        'CONTRACT_LOAN_AMOUNT': 'sum',
        'CONTRACT_LOAN_TO_VALUE_RATIO': 'mean',
        'CONTRACT_MARKET_VALUE': 'sum',
        'CONTRACT_MORTGAGE_LENDING_VALUE': 'sum',
         **custom_aggregations
    }
    )

    columns=[   'BORROWER_ID',
                'CONTRACT_ID_SUM',
                'CONTRACT_CREDIT_LOSS_SUM',
                'CONTRACT_DEPT_SERVICE_TO_INCOME_MEAN',
                'CONTRACT_INCOME_SUM',
                'CONTRACT_INSTALMENT_AMOUNT_MEAN',
                'CONTRACT_INTEREST_RATE_MEAN',
                'CONTRACT_LGD_SUM',
                'CONTRACT_LOAN_AMOUNT_SUM',
                'CONTRACT_LOAN_TO_VALUE_RATIO_MEAN',
                'CONTRACT_MARKET_VALUE_SUM',
                'CONTRACT_MORTGAGE_LENDING_VALUE_SUM'
            ]

    columns.extend(dummy_cols)
    stat.columns=columns
    cust_df=cust_df.merge(stat,on='BORROWER_ID',how='left')

    return cust_df

In [14]:
def datagentarget(df, dummy_cols, startnap, endnap):

    df2 = df[ df['CONTRACT_DATE_OF_LOAN_AGREEMENT']>=startnap].copy()
    df3 = df2[df2['TARGET_EVENT_DAY']>=startnap].copy()
    df4 = df3[df3['TARGET_EVENT_DAY']<endnap].copy()
    df = df4[ df4['CONTRACT_DATE_OF_LOAN_AGREEMENT']<endnap].copy()

    cust_df = pd.DataFrame({'BORROWER_ID':df['BORROWER_ID'].unique()})
# TARGET VALTOZO KESZITES
    # feltetel=((df['TARGET_EVENT_DAY']>endnap) & (df['TARGET_EVENT_DAY']<endnap+2*365) & (df['TARGET_EVENT']=='K')  )
    df['target']=1
    # df.loc[feltetel,'target']=1
    
    stat = df.groupby("BORROWER_ID",as_index=False).agg({'target':'max'})
    cust_df=cust_df.merge(stat,on='BORROWER_ID',how='left')
    cust_df['target']=cust_df['target'].fillna(0)  

    custom_aggregations = {col: 'sum' for col in dummy_cols}
    

    stat = df.groupby("BORROWER_ID",as_index=False).agg(
    {   'CONTRACT_ID':'count',
        'CONTRACT_CREDIT_LOSS': 'sum',
        'CONTRACT_DEPT_SERVICE_TO_INCOME': 'mean',
        'CONTRACT_INCOME': 'sum',
        'CONTRACT_INSTALMENT_AMOUNT': 'mean',
        'CONTRACT_INTEREST_RATE': 'mean',
        'CONTRACT_LGD': 'sum',
        'CONTRACT_LOAN_AMOUNT': 'sum',
        'CONTRACT_LOAN_TO_VALUE_RATIO': 'mean',
        'CONTRACT_MARKET_VALUE': 'sum',
        'CONTRACT_MORTGAGE_LENDING_VALUE': 'sum',
         **custom_aggregations
    }
    )

    columns=[   'BORROWER_ID',
                'CONTRACT_ID_SUM',
                'CONTRACT_CREDIT_LOSS_SUM',
                'CONTRACT_DEPT_SERVICE_TO_INCOME_MEAN',
                'CONTRACT_INCOME_SUM',
                'CONTRACT_INSTALMENT_AMOUNT_MEAN',
                'CONTRACT_INTEREST_RATE_MEAN',
                'CONTRACT_LGD_SUM',
                'CONTRACT_LOAN_AMOUNT_SUM',
                'CONTRACT_LOAN_TO_VALUE_RATIO_MEAN',
                'CONTRACT_MARKET_VALUE_SUM',
                'CONTRACT_MORTGAGE_LENDING_VALUE_SUM'
            ]

    columns.extend(dummy_cols)
    stat.columns=columns
    cust_df=cust_df.merge(stat,on='BORROWER_ID',how='left')

    return cust_df

In [15]:
train_df=datagen(df, dummy_cols, 0, 365)
res_df=datagen(df, dummy_cols, 0, 1095)

In [16]:
# target_df=datagentarget(df, dummy_cols, 365, 1095)

In [17]:
# concat_df = pd.concat([train_df, target_df], ignore_index=True)

In [18]:
# train_df['target'].value_counts()

In [19]:
# target_df['target'].value_counts()

In [20]:
# concat_df['target'].value_counts()

In [21]:
# stat=cust_df.drop_duplicates()
train_df.to_csv('data/train_df.csv', index=False)
res_df.to_csv('data/res_df.csv', index=False)