In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
readIn = pd.read_csv("training_data.csv")
df = pd.DataFrame(readIn)

In [3]:
readIn = pd.read_csv("data_submission_example.csv")
df_target = pd.DataFrame(readIn)
# df_target.head(20)

# print(df_target.shape)
# print(df_target['BORROWER_ID'].unique)

In [4]:
# print(df.shape)

# index_to_keep = df['BORROWER_ID'].isin(df_target['BORROWER_ID'])

# df = df[index_to_keep]

# print(df.shape)

In [5]:
df.head(10)

,CONTRACT_ID,BORROWER_ID,CONTRACT_BANK_ID,CONTRACT_CREDIT_INTERMEDIARY,CONTRACT_CREDIT_LOSS,CONTRACT_CURRENCY,CONTRACT_DATE_OF_LOAN_AGREEMENT,CONTRACT_DEPT_SERVICE_TO_INCOME,CONTRACT_FREQUENCY_TYPE,CONTRACT_INCOME,...,CONTRACT_RISK_WEIGHTED_ASSETS,CONTRACT_TYPE_OF_INTEREST_REPAYMENT,BORROWER_BIRTH_YEAR,BORROWER_CITIZENSHIP,BORROWER_COUNTRY,BORROWER_COUNTY,BORROWER_TYPE_OF_CUSTOMER,BORROWER_TYPE_OF_SETTLEMENT,TARGET_EVENT,TARGET_EVENT_DAY
0,TpK8osXs,d8SqtuEV,1d42bbf5,2.0,0.0,31,2457052,NaN,479a2e13,NaN,...,1.00,NaN,1217.0,98.0,98.0,20.0,A,NaN,-,NaN
1,EtIEHrcH,lrdxML0g,1d42bbf5,NaN,0.0,31,2457036,NaN,479a2e13,NaN,...,74.17,NaN,NaN,NaN,NaN,NaN,A,NaN,-,NaN
2,1G10DfKj,gII7nnq4,1d42bbf5,2.0,16350.0,31,2457043,7.05,479a2e13,127305.0,...,74.77,100003.0,1199.0,98.0,98.0,179.0,A,7.0,-,NaN
3,2NLT774,MMkJ8z/e,1d42bbf5,NaN,0.0,31,2457038,NaN,479a2e13,NaN,...,0.99,NaN,1221.0,98.0,98.0,NaN,A,NaN,-,NaN
4,VpylRvay,M417onFP,1d42bbf5,2.0,2395.0,31,2457091,NaN,479a2e13,NaN,...,74.30,100002.0,1260.0,98.0,98.0,178.0,A,1.0,-,NaN
5,5tsDwTjS,u9GRAuen,1d42bbf5,2.0,0.0,31,2457093,NaN,479a2e13,NaN,...,0.98,NaN,1204.0,98.0,98.0,NaN,A,NaN,-,NaN
6,drZAWXaR,XPWFcJZI,1d42bbf5,NaN,0.0,31,2457095,33.94,479a2e13,172647.0,...,1.00,NaN,NaN,NaN,NaN,NaN,A,NaN,-,NaN
7,ebtK6u+,L2Nu2zZe,1d42bbf5,2.0,0.0,31,2457046,NaN,479a2e13,NaN,...,1.03,NaN,1255.0,98.0,98.0,4.0,A,NaN,-,NaN
8,ffJh4MY,5A0GWOi2,1d42bbf5,2.0,0.0,31,2457049,NaN,479a2e13,NaN,...,1.04,NaN,1234.0,98.0,98.0,NaN,A,NaN,-,NaN
9,eo09vYuo,lqPGd2+x,1d42bbf5,2.0,0.0,31,2457081,NaN,479a2e13,NaN,...,1.00,0.0,1228.0,98.0,98.0,3.0,A,NaN,-,NaN

In [6]:
data_count=len(df)

In [7]:
data_count

1602753

In [8]:
coloumns=[
    'CONTRACT_ID',
    'BORROWER_ID',
    'CONTRACT_BANK_ID',
    'CONTRACT_CREDIT_INTERMEDIARY',
    'CONTRACT_CREDIT_LOSS',
    'CONTRACT_CURRENCY',
    'CONTRACT_DATE_OF_LOAN_AGREEMENT',
    'CONTRACT_DEPT_SERVICE_TO_INCOME',
    'CONTRACT_FREQUENCY_TYPE',
    'CONTRACT_INCOME',
    'CONTRACT_INSTALMENT_AMOUNT',
    'CONTRACT_INSTALMENT_AMOUNT_2',
    'CONTRACT_INTEREST_PERIOD',
    'CONTRACT_INTEREST_RATE',
    'CONTRACT_LGD',
    'CONTRACT_LOAN_AMOUNT',
    'CONTRACT_LOAN_CONTRACT_TYPE',
    'CONTRACT_LOAN_TO_VALUE_RATIO',
    'CONTRACT_LOAN_TYPE',
    'CONTRACT_MARKET_VALUE',
    'CONTRACT_MATURITY_DATE',
    'CONTRACT_MORTGAGE_LENDING_VALUE',
    'CONTRACT_MORTGAGE_TYPE',
    'CONTRACT_REFINANCED',
    'CONTRACT_RISK_WEIGHTED_ASSETS',
    'CONTRACT_TYPE_OF_INTEREST_REPAYMENT',
    'BORROWER_BIRTH_YEAR',
    'BORROWER_CITIZENSHIP',
    'BORROWER_COUNTRY',
    'BORROWER_COUNTY',
    'BORROWER_TYPE_OF_CUSTOMER',
    'BORROWER_TYPE_OF_SETTLEMENT',
    'TARGET_EVENT',
    'TARGET_EVENT_DAY'
]

# coloumns=[
#     'CONTRACT_ID',
#     'BORROWER_ID',
#     'CONTRACT_BANK_ID',
#     'CONTRACT_CREDIT_LOSS',
#     'CONTRACT_CURRENCY',
#     'CONTRACT_DATE_OF_LOAN_AGREEMENT',
#     'CONTRACT_FREQUENCY_TYPE',
#     'CONTRACT_LOAN_AMOUNT',
#     'CONTRACT_LOAN_CONTRACT_TYPE',
#     'CONTRACT_LOAN_TYPE',
#     'CONTRACT_MATURITY_DATE',
#     'BORROWER_TYPE_OF_CUSTOMER',
#     'TARGET_EVENT'
# ]

In [9]:
df=df[coloumns]

# Data preparation

## Coloumns

### ISNA

In [10]:
df.isna().sum()

CONTRACT_ID                                  0
BORROWER_ID                                  0
CONTRACT_BANK_ID                             0
CONTRACT_CREDIT_INTERMEDIARY             59422
CONTRACT_CREDIT_LOSS                     36154
CONTRACT_CURRENCY                            0
CONTRACT_DATE_OF_LOAN_AGREEMENT              0
CONTRACT_DEPT_SERVICE_TO_INCOME         201480
CONTRACT_FREQUENCY_TYPE                      0
CONTRACT_INCOME                         198022
CONTRACT_INSTALMENT_AMOUNT             1314531
CONTRACT_INSTALMENT_AMOUNT_2             42438
CONTRACT_INTEREST_PERIOD                371312
CONTRACT_INTEREST_RATE                   35370
CONTRACT_LGD                             33722
CONTRACT_LOAN_AMOUNT                         0
CONTRACT_LOAN_CONTRACT_TYPE                  0
CONTRACT_LOAN_TO_VALUE_RATIO           1176530
CONTRACT_LOAN_TYPE                           0
CONTRACT_MARKET_VALUE                  1074843
CONTRACT_MATURITY_DATE                       0
CONTRACT_MORTGAGE_LENDING_VALUE        1064936
CONTRACT_MORTGAGE_TYPE                 1064936
CONTRACT_REFINANCED                      59422
CONTRACT_RISK_WEIGHTED_ASSETS            33722
CONTRACT_TYPE_OF_INTEREST_REPAYMENT     232962
BORROWER_BIRTH_YEAR                      42867
BORROWER_CITIZENSHIP                     42867
BORROWER_COUNTRY                         42867
BORROWER_COUNTY                          96677
BORROWER_TYPE_OF_CUSTOMER                    0
BORROWER_TYPE_OF_SETTLEMENT             528624
TARGET_EVENT                                 0
TARGET_EVENT_DAY                       1548364
dtype: int64

### CONTRACT_ID

### BORROWER_ID

In [11]:
df['BORROWER_ID'].value_counts()

BORROWER_ID
xNullx      1090
akvNVipI      24
qW3B+pgb      22
95IQewTL      19
JARtY3P1      18
            ...
LqRn3EsW       1
odaCvCmO       1
seFkKZ2U       1
WJWtceMu       1
Dxng1cGs       1
Name: count, Length: 1149851, dtype: int64

In [12]:
cols= [
    'BORROWER_ID',
    'BORROWER_BIRTH_YEAR',
    'BORROWER_CITIZENSHIP',
    'BORROWER_COUNTRY',
    'BORROWER_COUNTY',
    'BORROWER_TYPE_OF_CUSTOMER',
]

df_borrower=df[cols]

print(df_borrower.isna().sum())

BORROWER_ID                      0
BORROWER_BIRTH_YEAR          42867
BORROWER_CITIZENSHIP         42867
BORROWER_COUNTRY             42867
BORROWER_COUNTY              96677
BORROWER_TYPE_OF_CUSTOMER        0
dtype: int64

In [13]:
df_borrower=df_borrower.drop_duplicates()
print(df_borrower.isna().sum())

BORROWER_ID                      0
BORROWER_BIRTH_YEAR          40286
BORROWER_CITIZENSHIP         40286
BORROWER_COUNTRY             40286
BORROWER_COUNTY              92676
BORROWER_TYPE_OF_CUSTOMER        0
dtype: int64

### BORROWER_BIRTH_YEAR

In [14]:
print(df_borrower['BORROWER_BIRTH_YEAR'].value_counts())

print(df_borrower['BORROWER_BIRTH_YEAR'].min())
print(df_borrower['BORROWER_BIRTH_YEAR'].max())

df_borrower['BORROWER_BIRTH_YEAR'] = df_borrower.groupby('BORROWER_ID')['BORROWER_BIRTH_YEAR'].transform(lambda x: x.mode().max())
df_borrower=df_borrower.drop_duplicates()
print(df_borrower.isna().sum())

BORROWER_BIRTH_YEAR
1246.0    37930
1247.0    37790
1245.0    37506
1249.0    36822
1248.0    36793
          ...
1189.0        3
1284.0        3
1280.0        3
1187.0        2
1188.0        1
Name: count, Length: 101, dtype: int64
1187.0
1287.0
BORROWER_ID                      0
BORROWER_BIRTH_YEAR          13460
BORROWER_CITIZENSHIP         40286
BORROWER_COUNTRY             40286
BORROWER_COUNTY              92623
BORROWER_TYPE_OF_CUSTOMER        0
dtype: int64

In [15]:
print(df_borrower['BORROWER_CITIZENSHIP'].value_counts())

print(df_borrower['BORROWER_CITIZENSHIP'].min())
print(df_borrower['BORROWER_CITIZENSHIP'].max())

df_borrower['BORROWER_CITIZENSHIP'] = df_borrower.groupby('BORROWER_ID')['BORROWER_CITIZENSHIP'].transform(lambda x: x.mode().max())
df_borrower=df_borrower.drop_duplicates()
print(df_borrower.isna().sum())

BORROWER_CITIZENSHIP
98.0     1203086
425.0      42504
187.0       1619
199.0       1243
225.0        329
175.0        163
188.0        141
55.0         127
162.0        125
46.0         124
406.0         99
108.0         88
194.0         57
13.0          50
180.0         39
73.0          33
75.0          33
0.0           28
236.0         24
20.0          17
163.0         16
96.0          15
133.0         13
22.0          12
100.0         11
197.0         10
87.0           8
66.0           6
120.0          6
54.0           6
131.0          5
57.0           5
53.0           4
41.0           3
107.0          3
34.0           3
62.0           3
68.0           3
137.0          1
342.0          1
6.0            1
Name: count, dtype: int64
0.0
425.0
BORROWER_ID                      0
BORROWER_BIRTH_YEAR          13460
BORROWER_CITIZENSHIP         13460
BORROWER_COUNTRY             40286
BORROWER_COUNTY              92623
BORROWER_TYPE_OF_CUSTOMER        0
dtype: int64

In [16]:
df_borrower=df_borrower.drop_duplicates()
print(df_borrower.isna().sum())

BORROWER_ID                      0
BORROWER_BIRTH_YEAR          13460
BORROWER_CITIZENSHIP         13460
BORROWER_COUNTRY             40286
BORROWER_COUNTY              92623
BORROWER_TYPE_OF_CUSTOMER        0
dtype: int64

In [17]:
df_borrower.dropna(subset=['BORROWER_BIRTH_YEAR'], inplace=True)

In [18]:
df_borrower.isna().sum()

BORROWER_ID                      0
BORROWER_BIRTH_YEAR              0
BORROWER_CITIZENSHIP             0
BORROWER_COUNTRY             26826
BORROWER_COUNTY              79163
BORROWER_TYPE_OF_CUSTOMER        0
dtype: int64

In [19]:
df_borrower.shape

(1264809, 6)

In [ ]:
df_borrower['BORROWER_COUNTRY'] = df_borrower.groupby('BORROWER_ID')['BORROWER_COUNTRY'].transform(lambda x: x.mode().max())
df_borrower['BORROWER_COUNTY'] = df_borrower.groupby('BORROWER_ID')['BORROWER_COUNTY'].transform(lambda x: x.mode().max())
df_borrower=df_borrower.drop_duplicates()

In [ ]:
df_borrower.isna().sum()

In [ ]:
df_borrower['BORROWER_COUNTY'].value_counts()

In [ ]:
df_borrower['BORROWER_COUNTY']=df_borrower['BORROWER_COUNTY'].fillna(-1)

In [ ]:
df_borrower.isna().sum()

In [ ]:
df_borrower['CONTRACT_INCOME'] = df_borrower.groupby('BORROWER_ID')['CONTRACT_INCOME'].transform(lambda x: x.fillna(x.mode().max()))
df_borrower['CONTRACT_INCOME'] = df_borrower.groupby('BORROWER_ID')['CONTRACT_INCOME'].transform(lambda x: x.mean())

In [ ]:
df_borrower.isna().sum()

In [ ]:
df_borrower=df_borrower.drop_duplicates()

print(df_borrower.shape)
df_borrower.to_csv('df_borrower.csv', index=False)

### BORROWER_CITIZENSHIP

### BORROWER_COUNTRY

In [ ]:
df['BORROWER_COUNTRY'].value_counts()

### BORROWER_COUNTY

In [ ]:
df['BORROWER_COUNTY'].value_counts()

### BORROWER_TYPE_OF_CUSTOMER

### BORROWER_TYPE_OF_SETTLEMENT

### CONTRACT_BANK_ID

In [ ]:
df['CONTRACT_BANK_ID'].value_counts()

### CONTRACT_CREDIT_INTERMEDIARY

### CONTRACT_CREDIT_LOSS

### CONTRACT_CURRENCY

In [ ]:
df['CONTRACT_CURRENCY'].value_counts()

### CONTRACT_DATE_OF_LOAN_AGREEMENT

### CONTRACT_DEPT_SERVICE_TO_INCOME

In [ ]:
df['CONTRACT_DEPT_SERVICE_TO_INCOME'].value_counts()

### CONTRACT_FREQUENCY_TYPE

In [ ]:
df['CONTRACT_FREQUENCY_TYPE'].value_counts()

In [ ]:
df['CONTRACT_FREQUENCY_TYPE'].hist(bins=50)
plt.show()

### CONTRACT_INCOME

In [ ]:
df['CONTRACT_INCOME'].value_counts()

In [ ]:
df['CONTRACT_INCOME'].hist(bins=50)
plt.show()

In [ ]:
cols=['CONTRACT_DEPT_SERVICE_TO_INCOME','CONTRACT_INCOME', 'CONTRACT_LOAN_AMOUNT' ]

df[cols].head(20)

### CONTRACT_INSTALMENT_AMOUNT and _2

In [ ]:
df['CONTRACT_INSTALMENT_AMOUNT'].value_counts()

In [ ]:
df['CONTRACT_INSTALMENT_AMOUNT_2'].value_counts()

### CONTRACT_INTEREST_PERIOD

### CONTRACT_INTEREST_RATE

In [ ]:
df['CONTRACT_INTEREST_RATE'].value_counts()

In [ ]:
df['CONTRACT_INTEREST_RATE'].hist(bins=100)
plt.show()

### CONTRACT_LGD

### CONTRACT_LOAN_AMOUNT

### CONTRACT_LOAN_CONTRACT_TYPE

### CONTRACT_LOAN_TO_VALUE_RATIO

### CONTRACT_LOAN_TYPE

In [ ]:
df['CONTRACT_LOAN_TYPE'].value_counts()

### CONTRACT_MARKET_VALUE

In [ ]:
df['CONTRACT_MARKET_VALUE'].value_counts()

### CONTRACT_MATURITY_DATE

### CONTRACT_MORTGAGE_LENDING_VALUE

### CONTRACT_MORTGAGE_TYPE

### CONTRACT_REFINANCED

### CONTRACT_RISK_WEIGHTED_ASSETS

### CONTRACT_TYPE_OF_INTEREST_REPAYMENT

### TARGET_EVENT_DAY

### TARGET_EVENT

### Check ISNA

In [ ]:
df.head(10)

In [ ]:
duplikalt_sorok = df[df.duplicated(subset=['CONTRACT_ID','BORROWER_ID','CONTRACT_BANK_ID'])]

In [ ]:
len(duplikalt_sorok)

In [ ]:
col=['CONTRACT_CREDIT_LOSS', 'TARGET_EVENT']
df2=df[col]
df2.head(100)

First, i should prepare the borrower data, and maybe with that, i could predict certain elements  of the contract data.

In [ ]:
nan_count=  df.isna().sum()

In [ ]:
df['CONTRACT_FREQUENCY_TYPE'].value_counts()

In [ ]:
coloumns = nan_count[nan_count/data_count<=0.5].index
off_coloumns = nan_count[nan_count/data_count>0.5].index

print(len(coloumns))
print(len(off_coloumns))

In [ ]:
df_2=df[coloumns]

In [ ]:
off_coloumns

#### CONTRACT_CREDIT_LOSS

In [ ]:
df['CONTRACT_CREDIT_LOSS'].isna().sum()

In [ ]:
df['CONTRACT_CREDIT_LOSS']=df['CONTRACT_CREDIT_LOSS'].fillna(0)

In [ ]:
df.nunique()