In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
readIn = pd.read_csv("training_data.csv")
df = pd.DataFrame(readIn)

In [9]:
df.head(10)

,CONTRACT_ID,BORROWER_ID,CONTRACT_BANK_ID,CONTRACT_CREDIT_INTERMEDIARY,CONTRACT_CREDIT_LOSS,CONTRACT_CURRENCY,CONTRACT_DATE_OF_LOAN_AGREEMENT,CONTRACT_DEPT_SERVICE_TO_INCOME,CONTRACT_FREQUENCY_TYPE,CONTRACT_INCOME,...,CONTRACT_RISK_WEIGHTED_ASSETS,CONTRACT_TYPE_OF_INTEREST_REPAYMENT,BORROWER_BIRTH_YEAR,BORROWER_CITIZENSHIP,BORROWER_COUNTRY,BORROWER_COUNTY,BORROWER_TYPE_OF_CUSTOMER,BORROWER_TYPE_OF_SETTLEMENT,TARGET_EVENT,TARGET_EVENT_DAY
0,TpK8osXs,d8SqtuEV,1d42bbf5,2.0,0.0,31,2457052,NaN,479a2e13,NaN,...,1.00,NaN,1217.0,98.0,98.0,20.0,A,NaN,-,NaN
1,EtIEHrcH,lrdxML0g,1d42bbf5,NaN,0.0,31,2457036,NaN,479a2e13,NaN,...,74.17,NaN,NaN,NaN,NaN,NaN,A,NaN,-,NaN
2,1G10DfKj,gII7nnq4,1d42bbf5,2.0,16350.0,31,2457043,7.05,479a2e13,127305.0,...,74.77,100003.0,1199.0,98.0,98.0,179.0,A,7.0,-,NaN
3,2NLT774,MMkJ8z/e,1d42bbf5,NaN,0.0,31,2457038,NaN,479a2e13,NaN,...,0.99,NaN,1221.0,98.0,98.0,NaN,A,NaN,-,NaN
4,VpylRvay,M417onFP,1d42bbf5,2.0,2395.0,31,2457091,NaN,479a2e13,NaN,...,74.30,100002.0,1260.0,98.0,98.0,178.0,A,1.0,-,NaN
5,5tsDwTjS,u9GRAuen,1d42bbf5,2.0,0.0,31,2457093,NaN,479a2e13,NaN,...,0.98,NaN,1204.0,98.0,98.0,NaN,A,NaN,-,NaN
6,drZAWXaR,XPWFcJZI,1d42bbf5,NaN,0.0,31,2457095,33.94,479a2e13,172647.0,...,1.00,NaN,NaN,NaN,NaN,NaN,A,NaN,-,NaN
7,ebtK6u+,L2Nu2zZe,1d42bbf5,2.0,0.0,31,2457046,NaN,479a2e13,NaN,...,1.03,NaN,1255.0,98.0,98.0,4.0,A,NaN,-,NaN
8,ffJh4MY,5A0GWOi2,1d42bbf5,2.0,0.0,31,2457049,NaN,479a2e13,NaN,...,1.04,NaN,1234.0,98.0,98.0,NaN,A,NaN,-,NaN
9,eo09vYuo,lqPGd2+x,1d42bbf5,2.0,0.0,31,2457081,NaN,479a2e13,NaN,...,1.00,0.0,1228.0,98.0,98.0,3.0,A,NaN,-,NaN

In [15]:
data_count=len(df)

In [16]:
data_count

1602753

## Data preparation

First, i should prepare the borrower data, and maybe with that, i could predict certain elements  of the contract data.

In [17]:
nan_count=  df.isna().sum()

In [25]:
coloumns = nan_count[nan_count/data_count<=0.5].index
off_coloumns = nan_count[nan_count/data_count>0.5].index

print(len(coloumns))
print(len(off_coloumns))

28
6

In [23]:
df_2=df[coloumns]

In [24]:
off_coloumns

Index(['CONTRACT_INSTALMENT_AMOUNT', 'CONTRACT_LOAN_TO_VALUE_RATIO',
       'CONTRACT_MARKET_VALUE', 'CONTRACT_MORTGAGE_LENDING_VALUE',
       'CONTRACT_MORTGAGE_TYPE', 'TARGET_EVENT_DAY'],
      dtype='object')

#### CONTRACT_CREDIT_LOSS

In [6]:
df['CONTRACT_CREDIT_LOSS'].isna().sum()

36154

In [7]:
df['CONTRACT_CREDIT_LOSS']=df['CONTRACT_CREDIT_LOSS'].fillna(0)

### Check ISNA

In [8]:
df.isna().sum()

CONTRACT_ID                                  0
BORROWER_ID                                  0
CONTRACT_BANK_ID                             0
CONTRACT_CREDIT_INTERMEDIARY             59422
CONTRACT_CREDIT_LOSS                         0
CONTRACT_CURRENCY                            0
CONTRACT_DATE_OF_LOAN_AGREEMENT              0
CONTRACT_DEPT_SERVICE_TO_INCOME         201480
CONTRACT_FREQUENCY_TYPE                      0
CONTRACT_INCOME                         198022
CONTRACT_INSTALMENT_AMOUNT             1314531
CONTRACT_INSTALMENT_AMOUNT_2             42438
CONTRACT_INTEREST_PERIOD                371312
CONTRACT_INTEREST_RATE                   35370
CONTRACT_LGD                             33722
CONTRACT_LOAN_AMOUNT                         0
CONTRACT_LOAN_CONTRACT_TYPE                  0
CONTRACT_LOAN_TO_VALUE_RATIO           1176530
CONTRACT_LOAN_TYPE                           0
CONTRACT_MARKET_VALUE                  1074843
CONTRACT_MATURITY_DATE                       0
CONTRACT_MORTGAGE_LENDING_VALUE        1064936
CONTRACT_MORTGAGE_TYPE                 1064936
CONTRACT_REFINANCED                      59422
CONTRACT_RISK_WEIGHTED_ASSETS            33722
CONTRACT_TYPE_OF_INTEREST_REPAYMENT     232962
BORROWER_BIRTH_YEAR                      42867
BORROWER_CITIZENSHIP                     42867
BORROWER_COUNTRY                         42867
BORROWER_COUNTY                          96677
BORROWER_TYPE_OF_CUSTOMER                    0
BORROWER_TYPE_OF_SETTLEMENT             528624
TARGET_EVENT                                 0
TARGET_EVENT_DAY                       1548364
dtype: int64

In [8]:
df.nunique()

CONTRACT_ID                            1274533
BORROWER_ID                            1149851
CONTRACT_BANK_ID                           136
CONTRACT_CREDIT_INTERMEDIARY                 4
CONTRACT_CREDIT_LOSS                    165007
CONTRACT_CURRENCY                            3
CONTRACT_DATE_OF_LOAN_AGREEMENT           1072
CONTRACT_DEPT_SERVICE_TO_INCOME          11367
CONTRACT_FREQUENCY_TYPE                      8
CONTRACT_INCOME                         410880
CONTRACT_INSTALMENT_AMOUNT               61334
CONTRACT_INSTALMENT_AMOUNT_2            158047
CONTRACT_INTEREST_PERIOD                  1038
CONTRACT_INTEREST_RATE                    4322
CONTRACT_LGD                            879303
CONTRACT_LOAN_AMOUNT                    835480
CONTRACT_LOAN_CONTRACT_TYPE                  8
CONTRACT_LOAN_TO_VALUE_RATIO             11662
CONTRACT_LOAN_TYPE                          18
CONTRACT_MARKET_VALUE                   274389
CONTRACT_MATURITY_DATE                   10744
CONTRACT_MORTGAGE_LENDING_VALUE         271960
CONTRACT_MORTGAGE_TYPE                      18
CONTRACT_REFINANCED                          4
CONTRACT_RISK_WEIGHTED_ASSETS            23085
CONTRACT_TYPE_OF_INTEREST_REPAYMENT          9
BORROWER_BIRTH_YEAR                        101
BORROWER_CITIZENSHIP                        41
BORROWER_COUNTRY                            53
BORROWER_COUNTY                            199
BORROWER_TYPE_OF_CUSTOMER                    2
BORROWER_TYPE_OF_SETTLEMENT                  8
TARGET_EVENT                                 3
TARGET_EVENT_DAY                           928
dtype: int64